{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h3>Projects list</h2>
    <table class="table text-nowrap">
        <thead>
        <tr>
            <th class="border-top-0">Id</th>
            <th class="border-top-0">Name</th>
            <th class="border-top-0">Client</th>
            <th class="border-top-0">Developers</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projectsList %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.client.name }}</td>
                <td>{{ project.developers|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Create project</h2>

    {{ form(form) }}
{% endblock %}
